@font-face {
    font-family: "Open Sans";
    src: url(../Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(../Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "Open Sans Condensed";
    src: url(../Open_Sans/OpenSans_Condensed-Bold.ttf);
}